* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    display: block;
    height: 50px;
    width: 50px;
}

hr {
    background-color: white;
}

.noteCard {
    min-width: 48%;
    max-width: 48%;
}